


body {background-image: url("http://cdn.backgroundhost.com/backgrounds/subtlepatterns/real_cf.png");
    font-family: 'Rock Salt', cursive; 
    color: white;}
    @keyframes robstyle {
        0% {color: white}
         6.75% {color: red;}
        19.25% {color: orange;}    
        31.75% {color: yellow;}
        44.25% {color: green;}
        56.75% {color: blue;}
        69.25% {color: indigo;}
        81.75% {color: violet;}
        94.25% {color: white;}
    }

    @keyframes hrstyle {
        0% {background-color: white}
         6.75% {background-color: red;}
        19.25% {background-color: orange;}    
        31.75% {background-color: yellow;}
        44.25% {background-color: green;}
        56.75% {background-color: blue;}
        69.25% {background-color: indigo;}
        81.75% {background-color: violet;}
        94.25% {background-color: white;}
    }

    h1 { animation: robstyle 20s infinite;
        font-size: 80px;
        line-height: 80px;
        text-align: center;
        padding: 20px 20px 20px 20px;
        margin: auto;}
        
hr {animation: robstyle 20s infinite;
    animation: hrstyle 20s infinite;
    color: white;
    background-color: white;
    height: 5px;}
    
    #guess{padding: 20px 20px 20px 20px;
            text-align: center;
        font-size: 20px;
        line-height: 20px;
        font-family: 'Goudy Bookletter 1911', serif;}

    div{padding: 20px 20px 20px 20px;
        text-align: center;
    font-size: 20px;
    line-height: 20px;
    font-family: 'Goudy Bookletter 1911', serif;}


    
